<!-- start custom head snippets -->
<link rel="shortcut icon" href="https://www.purdue.edu/purdue/images/favicon.ico">
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://unpkg.com/highlightjs-lean/dist/lean.min.js"></script>
<script type="text/javascript">
  hljs.highlightAll();
</script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!-- end custom head snippets -->
